.btn-main {
    background-color: #1a2232;
    border-color: #1a2232;
    color: white;
    border: 2px solid transparent;
    padding: 5px 15px;
}

.btn-main:hover {
    background-color: white;
    border-color: #1a2232;
    color: #1a2232;
}

.upload_image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload_image_container {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.upload_image_container:hover .overlay_image_upload {
    opacity: 1;
}
.overlay_image_upload {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.select {
    padding: 10px 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}

html.dark-theme .select {
    color: white;

    background: #1a2232;
}

.file_upload_container {
    position: fixed; /* Use fixed for full viewport coverage */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Higher z-index for topmost layer */
    background-color: #1a2232;
    overflow: hidden; /* Prevent scrolling inside container */
}

.one_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#image_viewer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.3s ease;
}
#image_viewer img {
    max-width: 70%;
    max-height: 70%;
    border-radius: 10px;
}
#image_viewer video {
    max-width: 70%;
    max-height: 70%;
    border-radius: 10px;
}
#file_name {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #1a2232 !important;
    color: white !important;
}
