.card__content {
    width: 100%;
}
.width_full {
    min-width: 100%;
}

@media (min-width: 991px) {
    .zoom-img {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .zoom-img {
        height: 450px;
    }
}

.text_white {
    color: white !important;
}
